 @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
	font-size: 62.5%;
	overflow-x: hidden !important;
}
body{	
	font-size: 1.6rem;  
 	font-family: "Roboto", sans-serif;
	font-weight: 400;
	overflow-x: hidden !important;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}
/*======================  Start Page  ======================*/
 

.main-content {
	flex: 0 0 100%;
	width: 100%;
}

.logo-main {
	transform: translateX(-120px);
}

.side-bar {
	flex: 0 0 25%;
	width: 25%;
	padding: 10px;
	border: 1px solid #b0b0b0;
}

.side-bar p {
	font-size: 19px;
}

.side-bar h3 {
	font-size: 42px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
}

.side-bar ul {
	list-style: disc;
	margin-left: 18px;
}

.btn-1 {  
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
	font-size: 18px; 
	border-radius: 40px;
	text-align: center;
	font-size: 40px;
	font-family: "Montserrat", sans-serif;
	border: 1px solid transparent;
	transition: 0.3s;
}

.btn-1:hover {
	background-color: transparent;
	color: #000; 
	border: 1px solid #000;
}

.btn-2 {  
	background-color: transparent;
	color: #000;
	border: 1px solid #000;
	padding: 10px 20px;
	font-size: 18px; 
	border-radius: 40px;
	text-align: center;
	font-size: 40px;
	font-family: "Montserrat", sans-serif;
	transition: 0.3s;
}


.btn-2:hover {
	background-color: #000;
	color: #fff; 
	border: 1px solid transparent;
}

.menu-icon a { 
	width: 192px;
	display: block;
}

.logo {
	position: absolute;
	left: 0;
	top: 0;
	right: 130px;
	margin: auto;
	text-align: center;
	z-index: 1;
}

.menu-icon {
	position: relative;	
	z-index: 2;
}

.my-20 { 
	margin-top: 0;
	margin-bottom: 60px; 
}

.banner-slider-text {
	padding: 269px 0 153px 0;
	width: 100%;
	max-width: 517px;
	position: relative;
	z-index: 2;
}

.banner-slider-text h2 {
	font-size: 65px;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	line-height: 60px;
	margin-bottom: 25px; 
}

.banner-slider-text a {
	color: #fff;
	border-color: #fff;
	margin: 0 auto;
}

.container-custom {
	margin: 0 auto;
	width: 95%;
}

.slider-item::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.explore-area {
	background: #E5E8EC;
	padding: 100px 0;
}

.explore-left h4 {
	font-size: 46px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: #000;
}

.explore-left { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 40px;
}

.explore-right p {
	font-size: 22px;
	margin-bottom: 20px;
}

.gallery-img{
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.gallery-img img {
	width: 100%;
	height: 100%;
}
 
.back-special {
	background: #E5E8EC;
	padding: 52px 0;
}

.back-special-content h3 {
	font-size: 46px;
	font-family: "Montserrat", sans-serif;
	color: #000;
	margin-bottom: 15px;
}

.beck-ul {
	list-style: disc;
	margin-left: 18px;
}

.beck-ul li {
	margin-bottom: 10px;
}

.beck-ul li a {
	font-size: 30px;
	color: #000;
	transition: 0.3s;
	font-family: "Lora", serif; 
}

.beck-ul li a:hover {
	text-decoration: underline;
}

.back-special-content {
	padding-bottom: 40px;
	border-bottom: 1px solid #000;
	width: 90%;
	margin: 0 auto;
}



.single-story img {
	width: 100%;
	height: 200px
}

.story-area {
	background: #E5E8EC;
	padding: 22px 0;
}

.section-title {
	text-align: center;
	margin-bottom: 32px;
}

.section-title h3 {
	font-size: 42px;
	font-family: "Montserrat", sans-serif; 
	color: #000;		
}

.section-title p {
	font-size: 22px;
	color: #000;		
	margin-top: 10px;
}

.single-story h4 {
	text-align: center;
	margin-top: 22px;
	font-size: 32px;
	font-family: "Lora", serif;
	color: #000;
}
 

.footer-menu a {
	text-align: center;
	margin-top: 22px;
	font-size: 32px;
	font-family: "Lora", serif;
	color: #000;
	transition: 0.3s;
}

.footer-menu a:hover {
	text-decoration: underline;
}

.footer-logo {
	text-align: center;
	margin-top: 25px;
}

.footer-logo a img {
	width: 260px;
}

.footer-menu ul {
	display: flex;
	justify-content: space-between;
	margin: 25px 0;
	padding: 25px 0;
	border-bottom: 1px solid #8a8a8a;
}

.footer-social ul {
	display: flex;
	justify-content: center;
	gap: 54px;
	margin-top: 60px; 
	align-items: center;
}
 
 

/*======================  End Page  ======================*/

/* 
font-family: "Montserrat", sans-serif;

font-family: "Lora", serif;
*/
